@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.header-area {
    width: 1140px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-area .logo {
    width: 175px;
}

.header-area .logo img {
    width: 100%;
}

.header-area .loginBtn button {
    border: none;
    padding: 10px 28px;
    outline: none;
    color: #fff;
    background: #5044E5;
    border-radius: 22px;
    transition: 0.5s;
}

.header-area .loginBtn button:hover a {
    background: none;
    border: 1px solid #5044E5;
    color: #5044E5;
}

.container {
    width: 1240px;
    margin: 20px auto;
    text-align: center;
}

.content-area {
    margin-top: 135px;
}

.content-area a {
    width: 204px;
    margin: 0px auto;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #5044E5;
    background: rgba(79, 68, 229, 0.199);
    padding: 10px 18px;
    border-radius: 22px;
    border: 1px solid #7A7A7A;
}

.content-area a span {
    padding-left: 6px;
}

.content-area .title-text {
    width: 797px;
    text-align: center;
    margin: 0px auto;
}

.title-text h1 {
    font-size: 80px;
    font-weight: 500;
    color: #3B3B3B;
    text-align: center;
    line-height: 88px;
    margin-top: 40px;
}

.title-text h1 span {
    color: #5044E5;
    font-size: 84px;
}

.title-text p {
    font-size: 19px;
    font-weight: 400;
    color: #808080;
    line-height: 28px;
    margin: 15px 0px;
}

.search-blog {
    width: 679px;
    margin: 40px auto;
    background: #ffff;
    border-radius: 8px;
    border: 1px solid #c4c3c3;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-blog input {
    width: 149px;
    text-align: left;
    border: none;
    padding: 4px 14px;
    outline: none;
    background: #fff;
    font-size: 18px;
}

.search-blog button {
    width: 114px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 14px 20px;
    background: #5044E5;
    color: #fff;
    border-radius: 8px;
    transition: 0.5s;
}

.search-blog button:hover {
    border: 1px solid #5044E5;
    background: #fff;
    color: #808080;
}


/* blogging site section start */
.blogging-site {
    margin-top: 80px;
}

.blogging-site .tab-area {
    margin: 0px auto;
}

.blogging-site .tab-area ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 18px;
}

.blogging-site .tab-area ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #565656;
    transition: 0.1s;
}

.blogging-site .tab-area ul .active a {
    background: #5044E5;
    color: #fff;
    padding: 6px 22px;
    border-radius: 18px;
}

.blogging-site .tab-area ul li a:hover {
    padding-bottom: 6px;
    color: #5044E5;
    border-bottom: 2px solid #5044E5;
}

.blogging-site .tab-area ul .active a:hover {
    padding-bottom: none;
    color: #fff;
    background: #5044E5;
    border-bottom: none;
}

.blogging-card {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

.single-blog {
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.178);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    transition: 0.5s;
    overflow: hidden;
}

.single-blog:hover {
    transform: translateY(-12px);
}

.blogging-card .single-blog img {
    width: 100%;
}

.single-blog .card-text {
    text-align: left;
    padding: 16px;
}

.single-blog .card-text a {
    text-decoration: none;
    font-size: 14px;
    color: #5044E5;
    background: rgba(79, 68, 229, 0.199);
    padding: 6px 16px;
    border-radius: 22px;
}

.single-blog .card-text h4 {
    font-size: 18px;
    font-weight: 500;
    color: #404040;
    line-height: 30px;
    margin: 18px 0px;
}

.single-blog .card-text p {
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    line-height: 28px;
    margin: 12px 0px 32px 0px;
}

/* subscribe section start */
.subscribe {
    margin-top: 155px;
    margin-bottom: 155px;
}

.subscribe h2 {
    font-size: 36px;
    font-weight: 500;
    color: #373737;
    text-align: center;
    line-height: 100%;
    margin-top: 20px;
}

.subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #9A9A9A;
    line-height: 100%;
    margin: 28px 0px;
}

.subscribeBtn {
    width: 724px;
    margin: 40px auto;
    background: #ffff;
    border-radius: 8px;
    border: 1px solid #c4c3c3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribeBtn input {
    width: 249px;
    text-align: left;
    border: none;
    padding: 0px 14px;
    outline: none;
    background: #fff;
    font-size: 18px;
}

.subscribeBtn button {
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 14px 26px;
    background: #5044E5;
    text-transform: uppercase;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.5s;
}

.subscribeBtn button:hover {
    border: 1px solid #5044E5;
    background: #fff;
    color: #808080;
}

/* footer start */
footer {
    margin-top: 120px;
    background: #F8F9FD;
    text-align: left;
}

footer .footerContent {
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: left;
    justify-content: space-between;
    padding: 28px 0px;
}

.footerText {
    width: 400px;
    padding: 10px 0px;
}

.footerText p {
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    line-height: 28px;
    margin: 12px 0px;
}

.link-area h4 {
    font-size: 18px;
    font-weight: 500;
    color: #0e0e0ec7;
    line-height: 100%;
    margin: 12px 0px;
}

.link-area ul li {
    padding: 8px 0px;
}

.link-area ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5dec;
    line-height: 100%;
    margin: 12px 0px;
    text-decoration: none;
    transition: 0.3s;
}

.link-area ul li a:hover {
    color: #5044E5;
}

.link-area ul li {
    list-style: none;
    text-align: left;
}

hr {
    color: #5044E5;
    margin: 18px 0px;
}

footer .copytext p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    line-height: 30px;
    margin: 12px 0px;
}


/*============ lifestyle page style start ============  */
.content-area .titlelife {
    width: 906px;
    text-align: center;
    margin: 0px auto;
}

.titlelife h1 {
    font-size: 58px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0%;
}

.content-area .textP {
    margin: 30px 0px !important;
}


/* maneging section start */
.maneging {
    margin: 85px auto;
}

.maneging img {
    width: 100%;
}

.maneging-content {
    width: 984px;
    margin: 22px auto;
    padding-top: 22px;
    text-align: left;
}

.maneging-content h2 {
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0%;
    font-weight: 600px;
    color: #3B3B3B;
    padding: 22px 0px;
}

.maneging-content p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    font-weight: 400px;
    color: #4E4E4E;
    padding: 22px 0px;
}

.single-text h4 {
    font-size: 28px;
    line-height: 65px;
    letter-spacing: 0%;
    font-weight: 600px;
    color: #3B3B3B;
    padding: 8px 0px;
}

.single-text p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    font-weight: 400px;
    color: #4E4E4E;
    padding: 6px 0px;
}


/* comment section start */
.commet-area {
    width: 984px;
    margin: 16px auto;
    text-align: left;
}

.commet-area h4 {
    font-size: 28px;
    line-height: 65px;
    letter-spacing: 0%;
    font-weight: 600px;
    color: #3B3B3B;
    padding: 8px 0px;
}

.single-comment {
    background: #edf2f7;
    margin: 16px 0px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 8px;
}

.single-comment .comText i {
    font-size: 18px;
    color: #5044E5;
    border: 1px solid #5044E5;
    padding: 6px 6px;
    border-radius: 50%;
    margin-right: 10px;
}

.single-comment .comText h5 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 500px;
    text-align: left;
    color: #3B3B3B;
    padding: 8px 0px;
}

.single-comment .comText p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 400px;
    color: #373737;
    text-align: left;
}

.single-comment .day p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 400px;
    color: #3B3B3B;
    padding-top: 12px;
}

.add-comment {
    margin-top: 55px;
    margin-bottom: 68px;
}

.add-comment h4 {
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 500px;
    text-align: left;
    color: #3B3B3B;
    padding: 12px 0px;
}

.comment-write input,
textarea {
    width: 684px;
}

.comment-write input {
    width: 70%;
    padding: 12px 10px;
    font-size: 18px;
    margin: 10px 0px;
    border: 1px solid #777676;
    border-radius: 6px;
}

.comment-write textarea {
    width: 70%;
    padding: 12px 10px;
    font-size: 18px;
    margin: 10px 0px;
    border: 1px solid #777676;
    border-radius: 6px;
}

.comment-write button {
    background: #5044E5;
    color: #fff;
    padding: 10px 26px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 18px;
    margin: 10px 0px;
    transition: 0.3s;
}

.comment-write button:hover {
    background: none;
    border: 1px solid #5044E5;
    color: #5044E5;
}

.social-link {
    margin-top: 85px;
    margin-bottom: 85px;
}

.social-link p {
    color: #373737;
    font-size: 18px;
    margin: 10px 0px;
    padding-bottom: 16px;
}

.social-site span i {
    background: #5044E5;
    color: #fff;
    padding: 10px 10px;
    box-shadow: 0 10px 30px rgba(26, 25, 25, 0.178);
    border-radius: 50%;
    margin: 10px 4px;
    transition: 0.3s;
}

.social-site span:hover i {
    background: #fff;
    color: #5044E5;
}


/*====== Admin Login page start ======*/
.admin-login {
    width: 645px;
    margin-top: 130px;
    margin-bottom: 130px;
    background: #fff;
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 10px 30px rgba(84, 72, 247, 0.178);
    border: 1px solid #5044E5;
}

.admin-login h2 {
    font-size: 28px;
    font-weight: 600;
    color: #373737;
    text-align: center;
    line-height: 100%;
    padding: 18px 0px;
}

.admin-login h2 span {
    color: #5044E5;
}

.admin-login p {
    font-size: 18px;
    font-weight: 400;
    color: #3B3B3B;
    line-height: 28px;
    padding-bottom: 28px;
}

.input-text {
    text-align: left;
    margin: 22px 0px;
}

.input-text input,
label {
    text-align: left;
    width: 100%;
    padding: 10px 0px;
    margin: 16px 0px;
}

.input-text label {
    padding: 12px 0px;
    font-size: 22px;
    color: #3B3B3B;
    border-radius: 6px;
}

.input-text input {
    padding: 12px 10px;
    font-size: 18px;
    border: 1px solid #777676;
    border-radius: 6px;
}

.admin-login .loginBtn {
    width: 100%;
    background: #5044E5;
    margin: 10px 0px;
    border-radius: 6px;
    transition: 0.3s;
}

.admin-login .loginBtn button {
    font-size: 18px;
    background: none;
    color: #fff;
    padding: 16px 26px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.3s;
}

.admin-login .loginBtn:hover {
    background: #fff;
    border: 1px solid #5044E5;
    color: #5044E5;
}

.admin-login .loginBtn:hover button {
    color: #5044E5;
}


/*====== Dashboard page style start ======*/
.deshHead {
    width: 100%;
    border-bottom: 1px solid #d3d2d2;
    margin: 20px auto;
    margin-bottom: 0px;
}

.deshHead2 {
    width: 100%;
    padding: 0px 18px;
}

.deshHead2.loginBtn button {
    width: 100%;
    border: none;
    background: #5044E5;
    color: #fff;
    outline: none;
    border-radius: 22px;
    transition: 0.5s;
}

.deshboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside {
    width: 16%;
    height: 100vh;
    overflow: hidden;
    background: #fff;
    border-right: 1px solid #d3d2d2;
}

.deshLink ul li,
a {
    list-style: none;
    text-decoration: none;
    padding: 10px 6px;
    color: #4E4E4E;
    margin: 12px 0px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s;
}

.aside ul li:hover {
    background: #F2F3FF;
}

.deshLink span i {
    font-size: 22px;
    margin-right: 8px;
    color: #5044E5;
}

.deshBg {
    width: 90%;
    height: 100vh;
    background: #F6F8FF;
    padding: 20px;
}

.count-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.single-count {
    width: 400px;
    background: #fff;
    margin: 22px 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 6px rgba(231, 231, 231, 0.322);
    border-radius: 6px;
}

.single-logo {
    font-size: 33px;
    color: #5044E5;
    background: #F6F8FF;
    padding: 12px 18px;
    border-radius: 6px;
    margin: 10px 4px;
}

.single-text h2 {
    font-size: 36px;
    font-weight: 600;
    color: #5044E5;
}

.single-text p {
    font-size: 18px;
    font-weight: 400;
}

.latestBlogs {
    margin-top: 40px;
    padding: 0px 20px;
}

.blog-title {
    display: flex;
}

.blog-title span i {
    font-size: 20px;
    color: #5044E5;
    padding-right: 8px;
}

.blog-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: #404040;
    line-height: 100%;
}

.blog-text {
    width: 960px;
    display: flex;
    padding: 22px 16px;
    background: #fff;
    margin: 28px 0px;
    box-shadow: 0 10px 30px rgba(245, 235, 235, 0.178);
    border-radius: 12px;
}

.headingb h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 14px 22px;
    color: #323232;
}

.headingb p {
    border-top: 1px solid #E1E1E1;
    padding: 18px 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #696B80;
}

.headingb .unpBtn {
    border-top: 1px solid #E1E1E1;
    padding: 11px 14px;
}

.numNo {
    color: #5044E5;
    padding-right: 10px;
    font-weight: bold;
}

.status p {
    color: #00A63E;
}

.unBtn .unpBtn button {
    border: 1px solid #6A7282;
    outline: none;
    color: #696B80;
    background: #fff;
    padding: 6px 8px;
    border-radius: 4px;
    transition: 0.3s;
}

.unBtn .unpBtn .activeBtn {
    background: #5044E5;
    color: #fff;
}

.unBtn .unpBtn button:hover {
    background: #5044E5;
    color: #fff;
}

.unBtn .unpBtn i {
    font-size: 16px;
    background: #fff;
    color: #FFA2A2;
    border: 1px solid #FFE7E2;
    padding: 8px 8px;
    border-radius: 50%;
    margin: 0px 8px;
    transition: 0.3s;
}

.unBtn .unpBtn .activeI {
    background: #FFA2A2;
    color: #fff;
}

.unBtn .unpBtn i:hover {
    background: #FFA2A2;
    color: #fff;
}



/*====== Add Blog page style start ======*/
.adBDes {
    height: 173vh;
}

.add-blog {
    width: 1088px;
    background: #ffff;
    padding: 22px 32px;
}

.add-blog p {
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5dec;
    line-height: 28px;
}

.add-blog img {
    width: 150px;
    margin: 16px 0px;
}

.add-blog label {
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5dec;
    padding: 8px 0px;
    margin: 22px 0px;
}

.form-group label {
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5dec;
    line-height: 28px;
    padding: 8px 0px;
}

.add-blog input {
    width: 68%;
    padding: 16px 14px;
    margin: 10px 0px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.description-box {
    width: 68%;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 10px 0px;
}

textarea {
    width: 100%;
    border: none;
}

.all-tol {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 1px solid #ddd;
    padding: 12px 8px;
}

.all-tol h4 {
    padding-right: 28px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #3B3B3B;
    text-align: center;
}

.description-box {
    position: relative;
}

.toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 500;
    color: #3B3B3B;
}

.ai-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #444;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.selCat {
    padding: 10px 6px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    margin: 10px 0px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    width: auto;
    margin-right: 10px;
    padding: 8px;
}


/*====== Blogs list page style start ======*/
.head-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 14px;
}

.head-title .blogList h3 {
    font-size: 20px;
    font-weight: 500;
    color: #404040;
    line-height: 100%;
}

.head-title .blogList .allP {
    padding: 24px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    line-height: 18px;
}

.head-title .blogList .datP p {
    padding: 38px 0px;
}

.head-title .blogList .datP1 p {
    padding: 12px 0px;
}

.head-title .blogList .datP2 p {
    margin: 14px 0px;
}

.head-title .blogList .pTag p {
    padding-top: 10px;
}

.head-title .blogList .actP p span i {
    font-size: 20px;
    font-weight: 500;
    color: #FFA2A2;
    background: #FFE7E2;
    line-height: 100%;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #FFA2A2;
    border-radius: 50%;
    margin: 0px 16px;
    outline: none;
    transition: 0.5s;
}

.head-title .blogList .actP p .activeDe i {
    background: #5044E5;
    color: #fff;
    border: none;
    outline: none;
}

.head-title .blogList .actP p span:hover i {
    background: #5044E5;
    color: #fff;
    border: none;
    outline: none;
}